@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    scroll-behavior: smooth;
    transition: all 1s ease-in-out;
    scroll-snap-type: proximity;
    
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: white;
}
.btn-all{
    background-color: rgb(75 85 99);
    color: rgb(229 231 235);
    ;
}
.active{
    background-color: white;
    color:black;
    
}

.s-top{
    padding-top: 80px;
}